[submodule "pricing_gateway/pricing_ctx_database_sqlalchemy_14"]
	path = pricing_gateway/pricing_ctx_database_sqlalchemy_14
	url = https://github.com/gilson-software/pricing_ctx_database_sqlalchemy_14.git
